#details{
  width:100%;
  p{
    margin-top:80px;
    font-size:1.7em;
  }
  .content{
    width:350px;
    margin:auto;
  }
  .headers{
      text-align: center;
  }
  .back-button{
    color:white;
    background-color:gray;
    border-radius:5px;
    border-color:none;
    border-style:none;
    height:70px;
    width:150px;
  }
  .incentive{
    margin-bottom:30px;
    color:#87CEFA;
  }
  ul{
    margin-top:30px;
  }
}
